/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }

 /* custom properties  */
:root {
    --clr-dark-cyan: hsl(158, 36%, 37%);
    --clr-darker-cyan: hsl(158, 36%, 25%);
    --clr-cream: hsl(30, 38%, 92%);

    --clr-dark-blue: hsl(212, 21%, 14%);
    --clr-gray-blue: hsl(228, 12%, 48%);
    --clr-white: hsl(0, 0%, 100%);

    --fw-regular: 500;
    --fw-bold: 700;

    --ff-montserrat: "Montserrat", serif;
    --ff-fraunces: "Fraunces", serif;
}

.flex {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.sr-only {
    border: 0; 
    clip: rect(0 0 0 0); 
    -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px); 
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px); 
    height: 1px; 
    margin: -1px; 
    overflow: hidden; 
    padding: 0; 
    position: absolute; 
    width: 1px; 
    white-space: nowrap; 
}

body {
    font-family: var(--ff-montserrat);
    font-weight: var(--fw-regular);
    color: var(--clr-gray-blue);
    font-size: 0.875rem;
    background-color: var(--clr-cream);

    display: grid;
    place-items: center;
    height: 100vh;
    padding: 1rem;
}


.product-card {
    background-color: var(--clr-white);
    border-radius: .5rem;
    overflow: hidden;
}

.product-content {
    padding: 1.5rem;
    display: grid;
    gap: .825rem;
}

.product-category {
  text-transform: uppercase;
  letter-spacing: .5em;
  font-size: 0.75rem;
}

.product-name {
  color: var(--clr-dark-blue);
  font-family: var(--ff-fraunces);
  font-size: 2rem;
  line-height: 1;
}

.product-price {
  font-family: var(--ff-fraunces);
  color: var(--clr-dark-cyan);
  font-size: 2rem;
  font-weight: var(--fw-bold);
  
}

.product-price-original {
  text-decoration: line-through;
}

.button {
  justify-content: center;
  cursor: pointer;
  padding: .825rem 2rem;
  color: var(--clr-white);
  font-weight: var(--fw-bold);
  background-color: var(--clr-dark-cyan);
  border: 0;
  border-radius: .5rem;
}

.button:hover, .button:focus {
  background-color: var(--clr-darker-cyan);
}


